
<div class="container-fluid full-bg">
    <div class="fade-l">
        <div class="intro-text">
            <h1 class="main-head">eval<span style="color: #42ea66">U</span></h1>
            <h2>smarter balanced & simplified tests </h2>
            <p> Prepare with Mock Tests, Sectional Tests, 
                Topic-wise Tests, Notes, Discussions etc... </p>
             <div class="button"> 
                 <a  href="/#/login" class="btn twitterbtn">Log In</a>
                 <a  href="/#/signup" class="btn btn-xl">Sign Up</a>
            </div>

         </div>
    </div>
</div>