<div ng-controller="NavbarCtrl as main" class="navbar navbar-inverse navbar-fixed-top" ng-init="main.user()">
  <div class="navbar-header">
<a class="navbar-brand" style="color: #05bcea">eval<span style="color: #42ea66">U</span></a>
  </div>
  <!--<ul class="nav navbar-nav " >
  </ul>-->
  <ul ng-if="!main.isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="main.isAuthenticated()" class="nav navbar-nav pull-right">
    <li ng-if="main.isAuthenticated()"><a href="/#/dashboard">Home</a></li>
    <li ng-if="main.isAuthenticated()"><a >{{main.userName.displayName}}</a></li>

    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>
